<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: #96d1c7; color: rgb(255, 255, 255)">
      Isabella Jiménez Robles
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row style = "background-color: #c9485b;">
        <ion-col>
          <div style="text-align: center;  font-weight: bold; color: rgb(255, 255, 255)">
            Nombre
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align: center; background-color: #c9485b; font-weight: bold; color: rgb(255, 255, 255)">
           Nacionalidad
          </div>
        </ion-col>
        <ion-col>
          <div style="text-align: center; background-color: #c9485b; font-weight: bold; color: rgb(255, 255, 255)">
            Foto
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            Isabella Jiménez Robles
          </div>
        </ion-col>
        <ion-col>
          <div>
           mexicana
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img style="width:100px;" src="https://img.vixdata.io/pd/jpg-large/es/sites/default/files/r/roble-huracan_1.jpg">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            Manuel Hernández Mota
          </div>
        </ion-col>
        <ion-col>
          <div>
           mexicana
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img style="width:100px;" src="https://http2.mlstatic.com/dachshund-salchichas-D_NQ_NP_989247-MLM29351825345_022019-Q.jpg">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            Daniela Esparza Espinosa
          </div>
        </ion-col>
        <ion-col>
          <div>
           mexicana
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img style="width:100px;" src="https://vignette.wikia.nocookie.net/disney/images/9/9b/Profile_-_Queen_Clarion.jpg/revision/latest?cb=20191005220505">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
  <h1>Stacked</h1>  
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm>
          <div style = "background-color: #e1f2fb; font-weight: bold; color: rgb(255, 255, 255)">
            1 of 4
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div style = "background-color: #f1f9f9; font-weight: bold; color: rgb(255, 255, 255)">
            2 of 4
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div style = "background-color: #f3dfe3; font-weight: bold; color: rgb(255, 255, 255)">
            3 of 4
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div style = "background-color: #e9b2bc; font-weight: bold; color: rgb(255, 255, 255)"> 
            4 of 4
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <h1>Offset</h1> 
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #be8abf;" size="3">
          <div>
            1 of 2
          </div>
        </ion-col>
        <ion-col style="background-color: #ea9abb;" size="3" offset="3">
          <div>
            2 of 2
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <h1>Push & Pull</h1>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #e1ccec;" size="9" push="3">
          <div>
            1 of 2
          </div>
        </ion-col>
        <ion-col style="background-color: #c9b6e4;" size="3" pull="9">
          <div>
            2 of 2
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="color: #e89da2;">isabellajimenezro@hotmail.com</ion-title>
  </ion-toolbar>
</ion-footer>
